NOTION_TOKEN=ntn_xxxxxxxx
STATE_DB_ID=3302eba4-ebd4-817d-8b93-e0c679891d7d
LOG_DB_ID=3302eba4-ebd4-8129-8df2-c986bfc24786
GITHUB_TOKEN=ghp_xxxxxxxx
TELEGRAM_BOT_TOKEN=bot_xxxxxxxx
TELEGRAM_CHAT_ID=xxxxxxxx
